.Card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px
}

.Card-Title {
    color: black;
}

.Note-Cards {
    background-color: lightgray;
    padding: 1px;
    list-style-type: none;
}

.Card-Delete {
    height: 30px;
    align-items: center;
}